@use "./abstracts/index" as *;

.page-title {
    position: relative;
    padding-top: 20px;
    .wrap {
        padding: 308px 15px 130px;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
    .image {
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    .content {
        max-width: 1540px;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        color: var(--White);
        margin-bottom: 20px;
    }
    &.style-details {
        .breadcrumb {
            margin-bottom: 20px;
        }
        .title {
            margin-bottom: 40px;
            font-weight: 500;
        }
        .list-meta {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 0;
            .dot {
                display: flex;
                width: 5px;
                height: 5px;
                transform: rotate(45deg);
                border-radius: 50%;
                background-color: var(--White);
            }
            li {
                color: var(--White);
                &:last-child {
                    text-decoration: underline;
                }
            }
        }
    }
    @include res(lg) {
     
    }
}

.hero-section {
    position: relative;
    background-color: var(--Black);
    display: flex;
    align-items: center;
    padding: 67px 100px 0;
    >.text-bg {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 600;
        font-size: 300px;
        line-height: 300px;
        letter-spacing: -0.03em;
        z-index: 1;
    }
    >.img-bg {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
    }
    >.left {
        position: relative;
        width: 45%;
        z-index: 2;
        padding-right: 41px;
        .title {
            font-weight: $font-Inter-Tight;
            font-weight: 600;
            font-size: 90px;
            line-height: 90px;
            margin-bottom: 50px;
            color: var(--White);
        }
        .desc {
            font-family: Manrope;
            font-weight: 500;
            font-size: 24px;
            line-height: 35px;
            color: #FFFFFFCC;
            margin-bottom: 50px;
        }
    }
    >.center {
        position: relative;
        width: 520px;
        z-index: 2;
    }
    >.right {
        position: relative;
        width: 30%;
        z-index: 2;
        margin-left: 80px;
        .form-booking {
            padding: 40px;
            border: 1px solid #FFFFFF1A;
            border-radius: 14px;
            background: #08101B;
            .text {
                font-weight: $font-Inter-Tight;
                color: var(--White);
            }
        }
    }
}

.section-features {
    display: flex;
    gap: 20px;
    padding: 20px 20px 0;
}

.section-about-us {
    .top {
        display: flex;
        gap: 70px;
        margin-bottom: 70px;
    }
    .content {
        width: 37.2%;
        .heading-section {
            margin-bottom: 30px;
        }
        >.text {
            margin-bottom: 35px;
        }
        .btns {
            margin-bottom: 50px;
        }
        .bot {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            border-radius: 14px;
            padding: 15px 30px;
            justify-content: space-between;
            border: 1px solid #00081412;
            box-shadow: 10px 4px 60px 0px #B2B2B240;
        }
    }
    .wrap-image {
        width: 57.364%;
    }
    .clients {
        padding: 30px;
        border-radius: 14px;
        background-color: var(--Red);
        .num {
            color: var(--White);
            margin-bottom: 5px;
        }
        .text {
            color: var(--White);
            margin-bottom: 25px;
        }
    }
    .about-image {
        width: 100%;
        border-radius: 14px;
        overflow: hidden;
    }
    .bottom {
        display: flex;
        gap: 70px;
        align-items: center;
    }
    .mission-vission {
        margin-bottom: 50px;
        .nav-menu {
            display: flex;
            gap: 100px;
            margin-bottom: 33px;
        }
        .nav-tab-item {
            position: relative;
            font-weight: 500;
            font-size: 22px;
            line-height: 27px;
            color: var(--Paragraph);
            padding-bottom: 20px;
        }
    }
    .wrap-content {
        border-top: 1px solid #0008141A;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 1px;
            top: 0;
            left: 50%;
            bottom: 0;
            background-color: #0008141A;
        }
    }
    .box-icon {
        max-width: 252px;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 14px;
            background-color: var(--Red);
            margin-bottom: 30px;
        }
        .title {
            font-family: $font-Inter-Tight;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 10px;
            color: var(--Paragraph);
        }
    }
}

.section-services {
    background-color: var(--Black);
    background-image: url(./../images/services/bg-services.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-works {
    .wrap-infiniteslide {
        margin-bottom: 100px;
        .text {
            font-weight: 600;
            font-size: 100px;
            line-height: 73px;
            text-transform: uppercase;
            font-family: $font-Inter-Tight;
        }
    }
    .top {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        margin-bottom: 70px;
        .content {
            width: 34.88372%;
            .heading-section {
                margin-bottom: 30px;
            }
            .text {
                margin-bottom: 25px;
            }
        }
        .image {
            width: 48.8372%;
            img {
                border-radius: 20px;
            }
        }
        .list-text {
            display: grid;
            gap: 12px;
            grid-template-columns: 1fr 1fr;
        }
    }
    .wrap-works {
        border: 1px solid #00081412;
        border-radius: 20px;
        display: flex;
        >*:not(:last-child)::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: #00081412;
        }
    }
}