@use "./abstracts/index" as *;

.page-title {
    position: relative;
    padding-top: 20px;
    &.style-inner {
        .wrap {
            padding: 308px 15px 130px;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
        }
        .image {
            position: absolute;
            inset: 0;
            z-index: -1;
        }
        .content {
            max-width: 1540px;
            margin-left: auto;
            margin-right: auto;
        }
        .title {
            color: var(--White);
            margin-bottom: 20px;
        }
    }
    @include res(lg) {
     
    }
}

.section-about {
    .left-image {
        img {
            border-radius: 16px;
        }
    }

    @include res(xxl, min) {
        .left-image {
            padding-right: 50px;
        }
        .right-content {
            padding: 15px 50px 0 20px;
        }
    }
}

.section-contact {
    .left {
        max-width: 570px;
        padding-top: 3px;
    }
    .right {
        padding: 40px;
        textarea {
            height: 100px;
        }
        @include res(xl) {
            padding: 24px 15px;
        }
    }
}

.wrap-contact {
    display: grid;
    gap: 28px;
    .item {
        display: flex;
        gap: 20px;
        align-items: center;
        .icon {
            font-size: 48px;
            color: var(--Text-primary);
        }
        .line-space {
            width: 1px;
            height: 40px;
            background-color: var(--Line);
        }
    }
}

.property-details-wrap {
    display: flex;
    >.wrap-thumb {
        width: 50%;
        position: relative;
        display: flex;
        .sw-single {
            .image {
                height: 100%;
                img {
                    border-radius: 16px;
                }
            }
        }
        .wrap-pagi {
            position: absolute;
            bottom: 12px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 464px;
            z-index: 5;
            .image {
                width: 107px;
                height: 80px;
                img {
                    border-radius: 8px;
                }
            }
            @include res(md) {
                max-width: 226px;
            }
        }
    }
    >.content {
        width: 50%;
        padding: 0 80px;
        .line {
            margin-top: 42px;
            margin-bottom: 38px;
        }
        .wg-avatar {
            gap: 12px;
        }
        .wrap-btn {
            display: flex;
            gap: 12px;
        }
        .info {
            display: flex;
            flex-wrap: wrap;
            gap: 15px 40px;
            .icon {
                font-size: 28px;
            }
        }
    }
    @include res(xl) {
        >.content {
            padding: 0 30px;
        }
    }
    @include res(md) {
        flex-direction: column;
        >* {
            width: 100% !important;
        }
        >.content {
            padding: 30px 0 0 0;
            .line {
                margin-top: 28px;
                margin-bottom: 28px;
            }
        }
    }
}

.form-top-filter {
    padding: 24px 0;
    .flat-tab-form {
        display: flex;
        gap: 20px;
        .nav-tab-form {
            flex-shrink: 0;
            padding: 7px 8px;
            border: 1px solid var(--Line);
            border-radius: 8px;
            gap: 0;
            margin: 0;
        }
        .nav-link-item {
            padding: 4px 16px;
            border-radius: 8px;
        }
    }
    .wg-filter {
        flex-grow: 1;
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        .form-title {
            background-color: transparent;
            .wrap-fill > * {
                width: 100% !important;
            }
        }
        .wd-search-form {
            max-width: 1060px;
            left: unset;
            top: calc(100% + 24px);
        }
    }
    @include res(xxl) {
        .flat-tab-form {
            flex-direction: column;
        }
        .form-title {
            flex-direction: column;
            >* {
                width: 100%;
            }
        }
        .wg-filter {
            .wd-search-form {
                left: 0;
                right: unset;
            }
        }
    }
}

.properties-details {
    .images {
        margin-bottom: 60px;
        .list-image {
            overflow-x: auto;
            &::-webkit-scrollbar {
                height: 0px;
            }
        }
        .wrap {
            max-width: max-content;
            display: flex;
            gap: 20px;
            .item {
                width: 160px;
                height: 120px;
                cursor: pointer;
                @include res(md) {
                    width: 140px;
                    height: 100px;
                 }
            }
            .item-photo {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                border: 1px solid var(--Line);
                .icon {
                    font-size: 48px;
                }
            }
        }
    }
    .properties-details-item {
        &:not(:last-child) {
            margin-bottom: 60px;
        }
        .top {
            display: flex;
            gap: 20px;
            align-items: center;
            .space {
                display: flex;
                width: 1px;
                height: 24px;
                background-color: var(--Line);
            }
        }
    }
    .properties-utility {
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px 100px;
        }
        .utility-item {
            width: 243px;
        }
    }
    .properties-nearby {
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 144px;
        }
        .nearby-item {
            width: 214px;
        }
    }
}

.calculator-wrap {
    display: flex;
    gap: 30px 60px;
    padding: 32px;
    border-radius: 16px;
    background-color: var(--Bg-light);

    .name {
        text-align: center;
    }
    .box {
        display: grid;
        padding: 11px 15px;
        border-radius: 8px;
        border: 1px solid var(--Line);
        background-color: var(--Text-light);
    }
    @include res(xl) {
       flex-direction: column;
    }
}

.sidebar-right {
    display: grid;
    gap: 30px;
    .sidebar-item {
        display: grid;
        gap: 24px;
        padding: 23px;
        border: 1px solid var(--Line);
        border-radius: 16px;
    }
    @include res(xxl,min) {
        max-width: 380px;
        margin-left: auto;
    }
}

.search-results-empty {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-properties {
    @include res(xl, min) {
        .tf-grid-layout {
            gap: 40px 30px;
        }
        &.list {
            .wg-pagination {
                margin-top: 30px;
            }
        }
    }
    @include res(lg) {
        .row {
            gap: 50px;
        }
    }
}

.section-categories {
    background-color: var(--Bg-light);
}

.wrap-layout-map.hide-map {
    max-width: 1470px;
    margin-left: auto;
    margin-right: auto;
    >* {
        width: 100% !important;
    }
    .wrap-left {
        padding-right: 30px;
    }
}