@use "./abstracts/index" as *;

.image {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0;
    .dot {
        display: flex;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--White);
    }
    li {
        color: var(--White);
        &:last-child {
            text-decoration: underline;
        }
    }
}

.wrap-infiniteslide {
    .infiniteslide {
        display: flex;
        align-items: center;
        &.style-1 {
            gap: 100px;
        }
        &.style-2 {
            gap: 100px;
        }
    }
}

.marquee-type-1 {
    display: flex;
    gap: 20px;
    align-items: center;
    width: max-content;
    .icon {
        font-size: 30px;
        color: #A2A2A2;
        @include transition3;
    }
    .text {
        font-family: $font-Inter-Tight;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #A2A2A2;
        @include transition3;
    }
    &:hover {
        .icon {
            color: var(--Red);
        }
        .text {
            color: var(--Title);
        }
    }
}

.heading-section {
    margin-bottom: 70px;
    .sub-title {
        position: relative;
        display: inline-flex;
        padding: 4px 13px 4px 28px;
        border: 1px solid #00081412;
        border-radius: 14px;
        margin-bottom: 15px;
        &::before {
            position: absolute;
            content: '';
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            background-color: var(--Red);
        }
    }
    .title {
        font-weight: 600;
        margin-bottom: 16px;
    }
    &.text-center {
        .sub-title {
            justify-content: center;
        }
    }
    &.style-white {
        .sub-title {
            color: var(--White);
            border-color: #FFFFFF1A;
            &::before {
                background-color: var(--White);
            }
        }
        .title {
            color: var(--White);
        }
    }
    @include res(md) {
        margin-bottom: 30px;
    }
}

.wg-pagination {
    display: flex;
    margin-top: 70px;
    gap: 8px;
    flex-wrap: wrap;
    li {
        a {
            @include flex(center, center);
            height: 50px;
            width: 50px;
            color: var(--Paragraph);
            background-color: var(--White);
            border: 1px solid #0008141A;
            border-radius: 50%;
            font-family: $font-Inter-Tight;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
        }
        i {
            font-size: 20px;
        }
        &:hover,
        &.active {
            a {
                color: var(--White);
                background-color: var(--Red);
                border-color: var(--Red);
            }
        }
    }
}

.wg-social {
    display: flex;
    gap: 24px;
    a {
        display: flex;
        font-size: 18px;
        color: var(--Paragraph);
        &:hover {
            color: var(--Title);
        }
    }
    &.style-1 {
        gap: 10px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #FFFFFF1A;
            color: var(--White);
            font-size: 16px;
            &:hover {
                background-color: var(--Red);
                color: var(--White);
            }
        }
    }
}

.features-box {
    position: relative;
    border: 1px solid #00081412;
    border-radius: 20px;
    overflow: hidden;
    .image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 0%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        @include transition3();
    }
    .content {
        position: relative;
        z-index: 2;
        padding: 40px 50px;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            height: 0%;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
            @include transition3();
        }
    }
    .top {
        display: flex;
        gap: 30px;
        align-items: center;
        margin-bottom: 40px;
    }
    .title {
        color: var(--Title);
        @include transition3();
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 70px;
        height: 70px;
        border-radius: 14px;
        background-color: var(--Red);
        @include transition3();
    }
    .line-space {
        display: flex;
        width: 100%;
        height: 1px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 8, 20, 0.3) 0%, rgba(0, 8, 20, 0) 100%);
        margin-bottom: 30px;
        @include transition3();
    }
    &:hover {
        .image {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
        .content::before {
            opacity: 1;
            visibility: visible;
            height: 100%;
            background-color: #000814BF;
        }
        .title {
            color: var(--White);
        }
        .line-space {
            background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
        }
        .text {
            color: var(--White);
        }
    }
}

.call-box {
    display: flex;
    gap: 15px;
    align-items: center;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 49px;
        height: 49px;
        border-radius: 50%;
        background-color: var(--Red);
    }
    .text {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: var(--Paragraph);
    }
    .call-number {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: var(--Title);
    }
}

.list-avatar {
    display: flex;
    .item {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid var(--Red);
        overflow: hidden;
        margin-right: -10px;
    }
    .plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--White);
    }
}

.box-service {
    border-radius: 20px;
    background-color: var(--White);
    .image {
        position: relative;
        padding: 10px 10px 0;
        .img-style {
            border-radius: 14px;
        }
        .icon {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,50%);
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: var(--Red);
        }
    }
    .content {
        padding: 70px 40px 39px;
        text-align: center;
        .title {
            font-family: $font-Inter-Tight;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: var(--Title);
            margin-bottom: 25px;
        }
        .line-space {
            display: flex;
            height: 1px;
            width: 100%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(0, 8, 20, 0.3) 0%, rgba(0, 8, 20, 0) 100%);
            margin-bottom: 25px;
        }
        .text {
            margin-bottom: 30px;
        }
    }
}

ul.list-text {
    li {
        position: relative;
        padding-left: 15px;
        &::before {
            position: absolute;
            content: '';
            width: 5px;
            height: 5px;
            background-color: var(--Red);
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.works-item {
    position: relative;
    padding: 30px 26px;
    text-align: center;
    &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        border: 1px solid #F3F3F3;
        margin-top: -135px;
        margin-left: -135px;
        width: 270px;
        height: 270px;
        border-radius: 50%;
        background: linear-gradient(180deg, rgba(0, 8, 20, 0) 0%, rgba(0, 8, 20, 0.05) 100%);
        @include transition3();
        z-index: -1;
    }
    .num {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: var(--White);
        box-shadow: 10px 4px 60px 0px #8D8D8D40;
        margin: 0 auto 20px;
        font-family: $font-Inter-Tight;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        border-radius: 50%;
    }
    .title {
        font-family: $font-Inter-Tight;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
        color: var(--Title);
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 14px;
        background-color: var(--White);
        color: var(--Red);
        margin: 0 auto 20px;
        font-size: 30px;
        margin-bottom: 25px;
        box-shadow: 10px 4px 60px 0px #9E9E9E40;
        @include transition3();
    }
    &:hover {
        .icon {
            color: var(--White);
            background-color: var(--Red);
        }
        &::before {
            transform: rotate(180deg) ;
        }
    }
}

.circle-badge {
    position: relative;
    width: 130px;
    height: 130px;
    .circle-text {
        position: absolute;
        inset: 0;
        animation: rotateText 10s linear infinite;
    }
    
    .circle-text svg {
        width: 100%;
        height: 100%;
        overflow: visible;
    }
    
    .circle-text text {
        font-family: $font-Inter-Tight;
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        fill: var(--Black);
        letter-spacing: 1px;
    }
    
    .circle-icon {
        position: absolute;
        inset: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--Black);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;
        z-index: 2;
    }
    &.style-2 {
        
    }
}

@keyframes rotateText {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
































