@use "../abstracts/index" as *;
.tf-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: max-content;
    padding: 14.5px 30px;
    background-color: var(--Red);
    @include transition3();
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: $font-Inter-Tight;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    span {
        color: var(--White);
        @include transition3();
        white-space: nowrap;
        display: flex;
    }
    i {
        font-size: 20px;
        color: var(--White);
    }
    .bg-effect {
        position: absolute;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: var(--Black);
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &.btn-bg-white {
        background-color: var(--White);
        span {
            color: var(--Title);
        }
        .bg-effect {
            background-color: var(--Title);
        }
        &:hover {
            background-color: var(--Title);
            span {
                color: var(--White) !important;
            }
        }
    }
    &.btn-px-12 {
        // padding: 0 12px;
    }
    &:hover {
        transition-delay: 0.15s;
        background-color: var(--Text-primary);
        span {
            color: var(--White) !important;
        }
        .bg-effect {
            width: 225%;
            height: calc(var(--button-width) * 2.25);
        }
        -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.15);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
    }
    @include res(md, min) {

    }
    @include res(md) {
        font-size: 14px;
        line-height: 22px;
    }
}

.tf-btn-1 {
    display: flex;
    align-items: center;
    gap: 7px;
    color: var(--Paragraph);
    span {
        position: relative;
        display: inline-block;
        font-family: $font-Inter-Tight;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-decoration: underline;
    }
    .icon {
        font-size: 19px;
    }
    &:hover {
        color: var(--Red);
        .icon {
            animation: link-icon 0.3s linear;
        }
    }
}