@use "../abstracts/index" as *;

.footer {
    position: relative;
    background-color: var(--Black);
    .bg-image {
        position: absolute;
        inset: 0;
        z-index: 0;
        opacity: 0.1;        
    }
    .footer-body {
        border-bottom: 1px solid #FFFFFF1A;
    }
    .footer-inner {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-cta {
        width: 42%;
        padding: 100px 104px 80px 0;
        border-right: 1px solid #FFFFFF1A;
        border-bottom: 1px solid #FFFFFF1A;
        .title {
            font-weight: 500;
            color: var(--White);
            margin-bottom: 25px;
        }
        .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFFA6;
            margin-bottom: 30px;
        }
    }
    .footer-contact {
        width: 58%;
        padding: 100px 0 100px 104px;
        border-bottom: 1px solid #FFFFFF1A;
        .footer-heading {
            margin-bottom: 70px;
        }
        .wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px 100px;
        }
        .title {
            font-family: $font-Inter-Tight;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFFBF;
            margin-bottom: 15px;
        }
        .desc {
            font-family: $font-Inter-Tight;
            font-weight: 500;
            font-size: 24px;
            line-height: 32px;
            color: var(--White);
        }
    }
    .footer-content {
        width: 42%;
        display: flex;
        padding: 100px 0 67px;
        .footer-links {
            width: 50%;
        }
        .footer-heading {
            margin-bottom: 30px;
        }
        ul {
            // display: grid;
        }
        .footer-link-item {
            position: relative;
            display: inline-flex;
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
            color: #FFFFFFA6;
            &::before {
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                left: -15px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: var(--White);
                opacity: 0;
                @include transition3;
            }
            &::after {
                position: absolute;
                content: '';
                width: 0;
                height: 1px;
                background-color: var(--White);
                bottom: 10px;
                left: auto;
                right: 0;
                @include transition3;
            }
            &:hover {
                margin-left: 15px;
                color: var(--White);
                &::before {
                    opacity: 1;
                }
                &::after {
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
    .footer-logo {
        width: 58%;
        padding: 100px 0 67px;
    }
    .footer-heading {
        font-family: $font-Inter-Tight;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: var(--White);
    }
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
    }



    
    @include res(lg) {
        
    }
    @include res(sm) {
       
    }
}
