@use "../abstracts/index" as *;
.card-house {
    position: relative;
    .img-style {
        position: relative;
    }
    .wrap-tag {
        position: absolute;
        top: 12px;
        left: 12px;
        .tag {
            display: flex;
            align-items: center;
            padding: 4px 12px;
            border-radius: 99px;
            background-color: var(--Bg-light);
            text-transform: uppercase;
        }
    }
    .info {
        padding-top: 12px;
        gap: 12px 24px;
        flex-wrap: wrap;
        i {
            font-size: 24px;
            color: var(--Text-secondary);
        }
    }
    .title {
        text-transform: capitalize;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box !important;
    }
    .wrap-btn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        z-index: 6;
    }
    .img-style {
        border-radius: 12px;
        overflow: hidden;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &.style-default {
        .wrap-btn {
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            .tf-btn {
                transform: translateY(10px);
                opacity: 0;
                visibility: hidden;
                transition-duration: 0.4s;
            }
            .quick-view {
                transition-delay: 0.1s;
            }
            .compare {
                transition-delay: 0.3s;
            }
        }
        &:hover {
            .wrap-btn {
                .tf-btn {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }
    }
    &.style-1 {
        .content {
            position: absolute;
            bottom: 0;
            right: 12px;
            left: 12px;
            padding: 20px;
            border-radius: 8px;
            background-color: var(--White);
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            @include transition3;
        }
        &:hover {
            .content {
                opacity: 1;
                visibility: visible;
                bottom: 12px;
            }
        }
    }
    @include res(xl, min) {
        .tooltip {
            display: block;
        }
    }
    @include res(sm) {
        .info {
            gap: 12px 22px;
        }
    }
    &.style-list {
        display: flex;
        gap: 32px;
        padding: 27px;
        border-radius: 12px;
        background-color: var(--White);
        align-items: center;
        border: 1px solid var(--Line);
        .wrap-img {
            display: flex;
            gap: 20px;
            flex: 13.3%;
        }
        .wrap-tag {
            position: unset;
            .tag {
                display: flex;
                height: 32px;
                align-items: center;
                padding: 0 12px;
                border-radius: 4px;
                &.rent {
                    background-color: var(--Secondary-2);
                }
                &.categoreis {
                    background-color: var(--Bg-light);
                }
                &.sale {
                    background-color: var(--Secondary);
                    color: var(--White);
                }
            }
        }
        .info {
            padding-top: 16px;
            margin-top: 16px;
            border-top: 1px solid var(--Line);
            gap: 24px;
        }
        .img-style {
            position: relative;
            overflow: hidden;
            &:after {
                content: "";
                position: absolute;
                width: 200%;
                height: 0%;
                left: 50%;
                top: 50%;
                background-color: rgba(255, 255, 255, 0.3);
                transform: translate(-50%, -50%) rotate(-45deg);
                z-index: 1;
                pointer-events: none;
            }
            img {
                min-height: 260px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s;
            }
            &:hover {
                &:after {
                    height: 250%;
                    transition: all 600ms linear;
                    background-color: transparent;
                }
                img {
                    transform: scale(1.1);
                }
            }
        }
        .wrap-btn {
            margin-top: 28px;
        }
        .content {
            flex: 20%;
            .title {
                margin-bottom: 8px;
            }
            .tf-btn {
                padding-top: 7px;
                padding-bottom: 7px;
            }
        }
        @include res(xxl) {
            gap: 12px;
            padding: 24px 15px;
        }
        @include res(xl) {
            .info {
                margin-top: 10px;
                padding-top: 10px;
                row-gap: 10px;
            }
            .top {
                margin-bottom: 12px;
            }
            .wrap-btn {
                margin-top: 12px;
            }
        }

        @include res(md) {
            flex-direction: column;
            padding: 27px 15px !important;
            .content {
                width: 100%;
            }
            .info {
                gap: 10px;
                li {
                    gap: 6px;
                }
            }
        }
    }
}