@use "../abstracts/index" as *;

.popup-property {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: var(--White);
    border-radius: 16px;
    .img-style {
        border-radius: 4px;
        overflow: hidden;
    }
    .info {
        gap: 24px;
        li {
            font-size: 14px;
            line-height: 23px;
        }
        i {
            font-size: 20px;
            color: var(--Text-secondary);
        }
    }
    @include res(md) {
        padding: 10px;
        gap: 10px;
        .info {
            gap: 7px;
        }
    }
}

.modal {
    z-index: 999999;
    .title-box {
        margin-bottom: 40px;
        @include flex(center, space-between);
        .close-modal {
            font-size: 24px;
            cursor: pointer;
            @include transition3();
            &:hover {
                transform: rotate(90deg);
                color: var(--Primary);
            }
        }
    }
    .modal-content {
        border-radius: 16px;
        overflow: hidden;
    }
    @include res(lg, min) {
        &.modal-filter {
            --bs-modal-width: 544px;
        }
    }
}

.icon-close {
    cursor: pointer;
    @include transition3;
    &:hover {
        color: var(--Primary);
    }
}

.offcanvas-backdrop,
.modal-backdrop {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    backdrop-filter: blur(10px);
    @include transition3();
    z-index: 100000;
}

.offcanvas {
    z-index: 100001;
}

.canvas-wrapper {
    padding: 0;
    isolation: isolate;
    height: 100%;
    width: 100%;
    max-height: none;
    display: grid;
    grid-auto-rows: auto minmax(0, 1fr) auto;
    align-content: start;
}

.canvas-filter {
    border-right: 0 !important;
    .canvas-header {
        display: flex;
        gap: 8px;
        padding: 15px 32px;
        background-color: var(--Bg-light);
        .icon {
            font-size: 28px;
        }
    }
    .canvas-body {
        padding: 20px 32px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}

.modal-newleter {
    .modal-dialog {
        max-width: 840px;
        @include res(md) {
            max-width: 440px;
        }
    }
    .modal-content {
        position: relative;
        flex-direction: row;
        border: 0;
        >.icon {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 20px;
        }
        .modal-left {
            width: 360px;
            flex-shrink: 0;
        }
        .modal-right {
            display: grid;
            gap: 62px;
            padding: 32px;
           
        }
        @include res(md) {
            flex-direction: column;
            .modal-left {
                width: 100%;
                height: 360px;

            }
            .modal-right {
                gap: 30px;
            }
        }
    }
}