// settings
$font-main: "Manrope", sans-serif;
$font-Inter-Tight: "Inter Tight", sans-serif;
$fontIcon: "icomoon";

:root {
    --Red: #F61E26;
    --Black: #000814;
    --Gray: #F0F0F0;
    --White: #ffffff;
    --Title: #000814;
    --Line: #696969;
    --Paragraph: #42464D;
}
